<h1>Pizzas#index</h1>
<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>
<table>
<th>CRUST</th><th>SAUCE</th><th>SIZE</th>
<% @pizzas.each do |pizza| %>
<tr>
    <td><%= pizza.crust %></td>
    <td><%= pizza.sauce %></td>
    <td><%= pizza.size %></td>
</tr>
    
<% end %>
</table>