<form action='/sandwhiches' method='POST'>
    <input type="hidden" name="authenticity_token" value='<%=form_authenticity_token%>'>
    <input type="text" name="sandwhiche[bread]" id="sandwhiche_bread">
    <input type="text" name="sandwhiche[meat]" id="sandwhiche_meat">
    <input type="text" name="sandwhiche[cheese]" id="sandwhiche_cheese">
    <input type='submit' value="Create Sandwhiche">



</form>